    /* navbar */ 
    .logo-img {
        text-align: left;
    }

    .social {
        text-align: end;
    }

    label {
        display: inline-block;
    }

    .hamburger {
        display: inline-block;
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    .menu a {
        display: block;
        margin: 1rem 0;
    }

    .menu a:hover {
        display: block;
        margin: 1.2rem 0;
    }

    #hamburger:checked+.menu {
        display: block;
    }

    .cat-paw {
        width: 140px;
        position: fixed;
        z-index: 999;
        top: 85%;
        right: 0;
        transition: 1s ease-in .5s;
    }

    /* adopt */

    .arrow {
        height: 40px;
        width: 40px;
        position: absolute;
        z-index: 10;
    }

    .adopt-img img {
        width:  100%;
        object-fit: cover;
        padding: 0;
    }

    .left-arrow {
        top: 110%;
        left: 5%;
    }
    
    .right-arrow {
        top: 110%;
        right: 5%;
        transform: scaleX(-1);
    }
    .adopt-slide {
        border-radius: 8px;
        max-width: 800px;
        height: 560px;
        overflow: hidden;
        position: relative;
    }
    